.main-content {
  background-color: #66c0f4;
  color: whitesmoke;
  max-height: 100%;
}

.content-header {
  justify-content: space-between;

  .link {
    font-size: 16px;
    color: inherit;
  }
}

.game-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 100%;
  max-height: 90%;
}

.img {
  max-width: 100%;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.info {
  padding: 20px;
}
