@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*,
*::before,
*::after {
  line-height: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* Nav */

nav {
  max-width: 960px;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 25%,
    #ffffff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
  padding: 1rem 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

/* Footer */

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
}

/* Game Containers */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 1rem;
}

.content-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.games-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.game-container {
  max-width: 300px;
  border: 2px solid black;
}

.img {
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.text {
  padding: 0.5rem 1rem;
}

button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  transition: all 0.3s ease;
  font-weight: 500;

  &:hover {
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;
  }
}
